@model IEnumerable<Admin>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome the Category Page</h1>
    <p> Our categories are:</p>
    <ul>
        <li>Fish</li>
        <li>Sand</li>
        <li>Glass Products</li>
        <li>Computer Monitors</li>
        <li>Youtube Videos</li>
    </ul>
    
</div>
