@model IEnumerable<Admin>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome the Administrator Dashboard. Please read our rules before proceeding.</h1>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">View Products</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">View Categories</a>
            </li>

            @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">View Users</a>
            </li>*@

        </ul>
    </div>
</div>
