@model IEnumerable<Admin>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome the Administrator Dashboard. Please read our rules before proceeding.</h1>
    <h3>To see a list of product categories please click here</h3>
    <h3>To see a detailed product description please click here</h3>
    <h3>To view or edit categories please click here</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
